$tw-boxshadow-color: rgba(0, 0, 0, 0.5);

// 字體大小
$tw-text-size1: 20px;
$tw-text-size2: 18px;
$tw-text-size3: 16px;
$tw-text-size4: 14px;
$tw-text-size5: 12px;
$tw-text-size6: 22px;
$tw-text-size7: 24px;


// 字體
.tw-text-size24 {
  font-size: $tw-text-size7;
}
.tw-text-size22 {
  font-size: $tw-text-size6;
}
.tw-text-size20 {
  font-size: $tw-text-size1;
}
.tw-text-size18 {
  font-size: $tw-text-size2;
}
.tw-text-size16 {
  font-size: $tw-text-size3;
}
.tw-text-size14 {
  font-size: $tw-text-size4;
}
.tw-text-size12 {
  font-size: $tw-text-size5;
}

// 容器
.tw-container {
    background: white;
    margin: 0 10px 10px;
    padding: 10px;
    border-radius: 10px;
    &.shadow {
      box-shadow: 0px 3px 5px $tw-boxshadow-color;
    }
  }