$tw-main-color: #FDF7DD;    // 主色調
$tw-second-color: #FFDD80;  // 副色調

.theme-yellow {
    .tw-bg-main {
        background-color: $tw-main-color;
        background-size: cover;
    }
    // 登入按鈕
    .form-btn {
        background-color: $tw-second-color;
        border-radius: 13px;
        max-width: 428px;
        width: 100%;
        padding: 8px;
        font-size: $tw-text-size1;
        font-weight: bolder;
      }
}